.footer {
  width: 100%;
  margin-top: 3rem;
  height: 33rem;
  background: #00439c;

  .content_info {
    max-width: 936px;
    margin: auto;

    .logo_footer {
      align-items: center;
      margin-left: 2rem;

      .logo_mobile {
        display: none;
      }

      img {
        margin-top: 3rem;
      }
    }

    .links_footer {
      display: flex;
      justify-content: center;

      ul {
        margin: 3rem;
        color: #fff;
        font-size: 1.1rem;
        line-height: 2rem;
      }
    }

    .entenrtaiment {
      color: #fff;
      margin-left: 3rem;
    }
  }

  @media (max-width: 440px) {
    height: 51rem;

    .content_info {
      .logo_footer {
        .logo_desktop {
          display: none;
        }

        .logo_mobile {
          display: block;

          img {
            margin-top: 4rem;
          }
        }
      }

      .links_footer {
        display: grid;
        margin-right: 4rem;

        ul {
          margin: 1.3rem;
        }
      }
    }
  }
}
